* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: fixed;
}

html,
body {
  height: 100%;
  font-size: 25px;
  background-color: #191a1c;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  background: black;
  position: fixed;
  top: -100%;
  /*   left: -100%; */
  width: 100%;
  height: 5vh;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links,
.active {
  top: 0;
  left: 0;

  z-index: 1;
}

.navbar-anchor {
  text-decoration: none;
  color: #caed89;
}

.navbar-anchor:hover {
  color: white;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  color: white;
}

.landing {
  height: 100vh;
}

.landingpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1564865878688-9a244444042a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  position: relative;
}

.Main-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Odibee Sans", cursive;
  color: white;
  position: absolute;
  top: 100px;
  left: 11%;
  font-size: 40px;
}
h2 {
  margin-left: 10px;
}

.AboutMe {
  display: flex;
  flex-direction: column;
  font-family: "Odibee Sans", cursive;
  color: #caed89;
  background-color: #191a1c;
  padding: 50px;
  margin: 20px;
  height: auto;
}

.about-me-desc {
  display: flex;
  padding: 5% 5%;
  border: 2px solid;
}

.a {
  margin-left: 41%;
}

.details-container {
  align-self: center;
  margin-top: 30px;
  border: 2px solid;
  padding: 30px;
}

.details-list li span {
  color: white;
  display: flex;
  flex-direction: column;
}

.Skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Odibee Sans", cursive;
  color: #caed89;
  background-color: #191a1c;
  width: 100vw;
  padding: 10%;
}

.sk {
  border: 2px solid;
}

.right {
  margin-left: 25%;
}
.skill-heads {
  margin-top: -60px;
}

.i {
  margin-right: 50px;
}

.p {
  padding: 5% 0%;
}

.container {
  width: 80%;
  margin: 0% auto;
}

.about-me-info {
  margin-left: 5%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #191a1c;
  margin: 0% 10%;
  border: 2px solid;
  color: #caed89;
}

.cards {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background: #191a1c;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0);
  flex: 1 1 150px; /*  Stretching: */
  margin: 5px;
}

.card-info {
  padding: 10px;
}

.card-info h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #caed89;
}

.card-info h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.card-info p {
  margin-bottom: 10px;
}

.card-links {
  display: flex;
}

.links {
  width: 49%;
  background-color: #caed89;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: #191a1c;
  transition-duration: 500ms;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.links:hover {
  background-color: #191a1c;
  color: #caed89;
}

.my-projects {
  font-family: "Odibee Sans", cursive;
  color: #caed89;
  margin-top: 50px;
}

.p {
  font-family: "Odibee Sans", cursive;
  color: white;
}

.text {
  font-family: "Odibee Sans", cursive;
  color: white;
}

.contact {
  background-size: cover;
  font-family: "Odibee Sans", cursive;
  padding: 5% 10%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 40px;
  background-color: #191a1c;
}

.form-item {
  background: #caed89;
  box-shadow: #caed89;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  transition-duration: 0.3s;
}

.form-label {
  font-family: "Odibee Sans", cursive;
  color: white;
}

.button {
  background: rgba(19, 19, 19, 0.507);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  color: white;
}

.button:hover {
  background: #caed89;
  color: #191a1c;
  font-family: "Odibee Sans", cursive;
}

.form {
  width: 500px;
  align-items: center;
  background-color: #191a1c;
}

.form-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #191a1c;
  font-family: "Odibee Sans", cursive;
  color: white;
}

.more-info {
  margin-left: 0;
  font-family: "Odibee Sans", cursive;
  align-self: center;
}

.testimonials-container {
  margin: 0px;
  padding: 10%;
  background-color: #191a1c;
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.testimonial-h {
  font-family: "Odibee Sans", cursive;
  color: #caed89;
}

.testimonial-c {
  font-family: "Odibee Sans", cursive;
  color: white;
}

.testimonial-H {
  font-family: "Odibee Sans", cursive;
  color: #caed89;
}

.img-size {
  object-fit: cover;
}

.item1 {
  grid-column: 3;
  grid-row: 1;
  border: 2px solid;
  color: #caed89;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
  border: 2px solid;
  color: #caed89;
}

.item3 {
  grid-column: 3;
  grid-row: 3;
  border: 2px solid;
  color: #caed89;
}

.item4 {
  grid-column: 1;
  grid-row: 4;
  border: 2px solid;
  color: #caed89;
}

.item5 {
  grid-column: 3;
  grid-row: 5;
  border: 2px solid;
  color: #caed89;
}

.item6 {
  grid-column: 1;
  grid-row: 6;
  border: 2px solid;
  color: #caed89;
}

.footer {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
  background-color: #212529;
  height: 70px;
  width: 100%;
  position: absolute;
  font-size: 16px;
  border: 2px solid;
  color: #caed89;
}

@media (max-width: 1100px) {
  .more-info {
    margin-right: 5%;
  }
}

@media screen and (max-width: 800px) {
  .skill-heads {
    margin-top: -60px;
    padding-top: 50px;
  }

  .right {
    margin-left: 0%;
  }

  .Skill {
    flex-direction: column;
  }

  .AboutMe {
    display: flex;
    flex-direction: column;
    font-family: "Odibee Sans", cursive;
    color: #caed89;
    background-color: #191a1c;
    padding: 0px;
    height: auto;
  }

  .about-me-desc {
    display: flex;
    padding: 5% 5%;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 69%;
    padding: 5px 40px;
    border: 2px solid;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
    border: 2px solid;
    color: #caed89;
  }

  .me img {
    margin-right: 60px;
    width: 100;
    height: 50;
  }

  .skill {
    flex-direction: column;
  }

  .navbar-links {
    width: 100vw;
    height: 2vh;
    font-size: 12px;
    gap: 5px;
    margin-top: 5px;
  }

  .Main-head {
    font-size: 20px;
  }
  .testimonial-container {
    grid-template-columns: 10% 1fr;
    font-size: 1px;
    grid-column: 5;
  }

  .testimonial-h {
    grid-column: 5;
  }

  .testionial-c {
    grid-column: 5;
  }

  .testimonial-H {
    grid-column: 5;
  }

  .item1 {
    grid-column: 2;
    grid-row: 1;
    grid-column: 5;
  }
  .item2 {
    grid-column: 2;
    grid-row: 2;
    grid-column: 5;
  }
  .item3 {
    grid-column: 2;
    grid-row: 3;
    grid-column: 5;
  }
  .item4 {
    grid-column: 2;
    grid-row: 4;
    grid-column: 5;
  }

  .item5 {
    grid-column: 2;
    grid-row: 5;
    grid-column: 5;
  }

  .item6 {
    grid-column: 2;
    grid-row: 6;
    grid-column: 5;
  }

  .more-info {
    margin-left: 0px;
    font-family: "Odibee Sans", cursive;
    align-self: center;
    font-size: 13px;
  }
}
